@font-face {
    font-family: "Inter";
    src: url(fonts/Inter.ttf) format("truetype");
}

body {
    font-family: 'Inter';
    background-color: #0a0a0a;  /*0a0a0a*/
    color: #ffffff;
}

#svg-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: -1;
  overflow: hidden;
}

.svg-icon {
  user-select: none;
  pointer-events: none;
  transition: transform 0.3s ease;
  fill: currentColor;
}

.svg-icon:hover {
  transform: scale(1.2);
}

.main{
    display: flex;
    margin: 0 auto 30px;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

    flex: 1 1 350px;
    border: 3px solid  #1d1d1d; /*1d1d1d*/
    max-width: 1100px;
    padding: 20px;
    border-radius: 12px;
    background: radial-gradient(circle at 100% 10%, #52fc03ca, #0f0f0fca 30%);
    box-sizing: border-box;
}

.avatar{
    width: 384px;
    height: 384px;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
}

.title{
    font-size: 20px;
    margin: auto;
}

.title > * {
    margin: 10px 10px 10px 10px;
}

.soc_net > * {
    max-width: 100px;
    border: 2px solid #1d1d1d57;
    padding: 7px;
    border-radius: 12px;
    background-color: #1a1a1a80;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: inherit;
    display: inline-flex;
    align-items: center;
    gap: 7px;
    white-space: nowrap;
    margin: 0 auto 7px
}

.soc_net > * > * {
    width: 36px;
    height: 36px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1100px;
    margin: 0 auto 30px;
}

.cards > * {
    flex: 1 1 425px;
    border: 3px solid #1d1d1d;
    max-width: 550px;
    padding: 20px;
    border-radius: 12px;
    background-color: #0f0f0fca;
    box-sizing: border-box;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.cards > * h2 {
    margin: 0 0 0;
}

.card1{
    background: radial-gradient(circle at 0% 10%, #fa5692ca, #0f0f0f00 30%),
                radial-gradient(circle at 100% 90%, #ff8400ca, #0f0f0fca 30%);
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    max-width: 500px;
    margin-top: auto;
}

.card1 .example, .card1 .github {
    flex: 1 1 auto;
    max-width: 100px;
    border: 2px solid #1d1d1d57;
    padding: 7px;
    border-radius: 12px;
    background-color: #1a1a1a80;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
}

.card1 .example svg, .card1 .github svg {
    width: 24px;
    height: 24px;
}

.card2 .github {
    flex: 1 1 auto;
    max-width: 100px;
    border: 2px solid #1d1d1d57;
    padding: 7px;
    border-radius: 10px;
    background-color: #1a1a1a80;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
}

.card2{
    background: radial-gradient(circle at 100% 10%, #9a00c0ca, #0f0f0f00 30%),
                radial-gradient(circle at 10% 90%, #20c000ca, #0f0f0fca 30%);
}

@media (max-width: 750px) {
    
    .main{
        text-align: center;
    }
    
    .avatar {
        width: 85vw;
        height: 85vw;
    }

    .title-h1 {
        font-size: 18px;
    }
    
    .title-h3{
        font-size: 16px
    }
    
    .cards {
        padding: 0 10px;
    }
}
