@font-face {
    font-family: "Inter";
    src: url(fonts/Inter.ttf) format("truetype");
}

body {
    font-family: 'Inter';
    background-color: #0a0a0a;  /*0a0a0a*/
    color: #ffffff;
}

.main{
    display: flex;
    max-width: 1100px;
    margin: 0 auto 30px;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

    flex: 1 1 350px;
    border: 2px solid #1d1d1d;
    max-width: 1100px;
    padding: 20px;
    border-radius: 10px;
    background-color: #0f0f0fca;
    color: #ffffff;
    box-sizing: border-box;
}

.avatar{
    width: 384px;
    height: 384px;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
}

.title{
    font-size: 20px;
    margin: auto;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1100px;
    margin: 0 auto 30px;
}

.cards > * {
    flex: 1 1 350px;
    border: 2px solid #1d1d1d;
    max-width: 450px;
    padding: 20px;
    border-radius: 10px;
    background-color: #0f0f0fca;
    color: #ffffff;
    box-sizing: border-box;
}

.cards > * h2 {
    margin-top: 0;
}

.card1{
    background: radial-gradient(circle at 0% 10%, #fa5692ca, #0f0f0f00 30%),
                radial-gradient(circle at 100% 90%, #ff8400ca, #0f0f0fca 30%);
}

.card1 .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    max-width: 500px;
}

.card1 .example, .card1 .github {
    flex: 1 1 auto;
    max-width: 100px;
    border: 2px solid #29292980;
    padding: 7px;
    border-radius: 10px;
    background-color: #1a1a1a80;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
}

.card1 .example svg, .card1 .github svg {
    width: 24px;
    height: 24px;
}

@media (max-width: 750px) {
    
    .main{
        text-align: center;
    }
    
    .avatar {
        width: 85vw;
        height: 85vw;
    }

    .title-h1 {
        font-size: 18px;
    }
    
    .title-h3{
        font-size: 16px
    }
    
    .cards {
        padding: 0 10px;
    }
}
