@font-face {
    font-family: "Inter";
    src: url(fonts/Inter.ttf) format("truetype");
}

body {
    font-family: 'Inter';
    background-color: #0a0a0a;
    color: #ffffff;
}

#svg-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: -1;
    overflow: hidden;
}

.svg-icon {
    user-select: none;
    pointer-events: none;
    fill: currentColor;
    transition: transform 0.3s ease;
}

.svg-icon:hover {
    transform: scale(1.2);
}

.main {
    display: flex;
    flex: 1 1 350px;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    margin: 0 auto 30px;
    max-width: 1100px;
    padding: 20px;
    border: 3px solid #1d1d1d;
    border-radius: 12px;
    background: radial-gradient(circle at 100% 10%, #52fc03ca, #0f0f0fca 30%);
    box-sizing: border-box;
}

.avatar {
    width: 384px;
    height: 384px;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
}

.title {
    font-size: 20px;
    margin: auto;
}

.title > h3 {
    max-width: 470px;
    font-size: 14px;
    margin: 20px 10px;
}

.title > * {
    margin: 8px 10px;
}

.title > p{
    font-size: 14px;
}

.soc{
    display: flex;
    max-width: fit-content;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    gap: 7px;
}

.game > .game_buttons > *,
.contacts > .contacts_buttons > * {
    max-width: 100px;
    padding: 7px;
    border: 2px solid #1d1d1d57;
    border-radius: 12px;
    background-color: #1a1a1a80;
    color: inherit;
    text-decoration: none;
    white-space: nowrap;
    margin: 0 7зч 7px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}
.game > .game_buttons > * > *,
.contacts > .contacts_buttons > * > * {
    width: 30px;
    height: 30px;
}

.contacts,
.game{
    flex: 1 1 0;
    max-width: 500px;
    padding: 7px;
    border: 2px solid #1d1d1d57;
    border-radius: 12px;
    background-color: #1a1a1a80;
    margin: 4px auto;
}

.contacts > .title,
.game > .title{
    font-size: 18px;
    margin: 4px;
    text-align: center;
}

.contacts > .contacts_buttons,
.game > .game_buttons{
    display: flex;
    gap: 7px;
    justify-content: center
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1100px;
    margin: 0 auto 30px;
}

.cards > * {
    flex: 1 1 0;
    max-width: 550px;
    padding: 20px;
    border: 3px solid #1d1d1d;
    border-radius: 12px;
    background-color: #0f0f0fca;
    box-sizing: border-box;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.cards > * h3{
    color: #dddddd;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 1px;
}

.cards > * h2 {
    margin: 0;
}

.card1 {
    background:
        radial-gradient(circle at 0% 10%, #fa5692ca, #0f0f0f00 30%),
        radial-gradient(circle at 100% 90%, #ff8400ca, #0f0f0fca 30%);
}

.card2 {
    background:
        radial-gradient(circle at 100% 10%, #9a00c0ca, #0f0f0f00 30%),
        radial-gradient(circle at 10% 90%, #20c000ca, #0f0f0fca 30%);
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    max-width: 500px;
    margin-top: auto;
}


.card1 .example,
.card1 .github,
.card2 .github {
    flex: 1 1 auto;
    max-width: 100px;
    padding: 7px;
    border: 2px solid #1d1d1d57;
    border-radius: 12px;
    background-color: #1a1a1a80;
    color: inherit;
    text-decoration: none;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.card2 .github {
    border-radius: 10px; /* отличия в радиусе */
}

.card1 .example svg,
.card1 .github svg,
.card2 .github svg {
    width: 24px;
    height: 24px;
}

@media (max-width: 750px) {
    .main {
        text-align: center;
    }

    .avatar {
        width: 85vw;
        height: 85vw;
    }

    .title-h1 {
        font-size: 18px;
    }

    .title-h3 {
        font-size: 16px;
    }

    .cards {
        padding: 0 10px;
    }
}
